
.refresh-captcha {
    margin-left: 20px;
}
.refresh-captcha a {
    color: #fff;
    font-size: 20px;
}
.qr-code-container svg g {
    transform: translate(30px, 30px) scale(2.5)!important; /* Tăng kích thước lên 1.5 lần */
}