
.refresh-captcha {
    margin-left: 20px;
}
.refresh-captcha a {
    color: #fff;
    font-size: 20px;
}
.qr-code-container svg g {
    transform: translate(30px, 30px) scale(2.5)!important; /* Tăng kích thước lên 1.5 lần */
}
.pagination {
    margin: 20px 0;
}
.view-details {
    margin: 10px 0;
    background: #348398;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.view-details svg {
    color: #fff;
}