
.refresh-captcha {
    margin-left: 20px;
}
.refresh-captcha a {
    color: #fff;
    font-size: 20px;
}
.qr-code-container svg g {
    transform: translate(30px, 30px) scale(2.5)!important; /* Tăng kích thước lên 1.5 lần */
}
.pagination {
    margin: 20px 0;
}
.view-details {
    margin: 10px 0;
    background: #348398;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 68%;
}
.total a {
    color: #fff;
    position: relative;
}
.totals {
    background: #f00;
    border-radius: 50%;
    width: 20px;
    display: inline-block;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -4px;
}
.view-details svg {
    color: #fff;
}
.refresh {
    margin-left: 10px;
}
.assign-perrmission {
    align-items: center;
}
.assign-perrmission span {
    width: 8%;
    height: 2%;
}
.btn-delete {
    margin-top: 20px;
    margin-left: 20px;
}
.action a{
    display: block;
    margin: 10px 0;
}
.action a:first-child {
    margin: 0!important;
}
.action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}